PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=d6Y37jBpOKlktMHEx7A8VU5sCZtDt3gi
DRIVE_DISK=local
DB_CONNECTION=mysqldev
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DB_NAME=lucid
FLW_SECRET=
FLW_ENCRYPTION_KEY=
